<div class="text-center py-0 header" @stagger>
  <div class="bg-card py-16 px-gutter">
    <h1 @fadeInUp class="display-2 mt-0 mb-4 text-center">Rankings</h1>
    <h2 @fadeInUp class="subheading-5 text-hint text-center  mx-auto m-0">Quer saber quais as empresas com melhor índice de solução ou as organizações
      mais reclamadas dos últimos 30 dias ou até mesmo dos últimos 6 meses?
      Tudo isso você pode encontrar aqui!</h2>
    <h3 @fadeInUp class="subheading-3 text-hint text-center  mx-auto m-2">A partir da avaliação que o consumidor dá para a organização nós construímos o nosso Ranking e,
      assim, ajudamos pessoas que querem analisar como está a situação das empresas no site,
      qual sua colocação e descobrir como vai o seu atendimento.</h3>
  </div>
<div>
  <!-- Primeira Linha -->
    <div class="my-12 container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="start start"
         fxLayoutAlign.xs="start stretch"
         fxLayoutGap="24px">
  
         <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
        <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="happy" size="48px"></ic-icon>
        </div> -->
        <h2 class="headline my-6">Melhor índice de solução</h2>
        <div *ngFor="let item of preencheTabela0">
          <table class="table">
            <tbody>
              <tr>
                <td>{{item.posicao}}. </td>
                <td class="nome">{{item.nome}}</td>
                <td>{{item.valor}}</td>
              </tr>
            </tbody>
          </table>
      </div>
        <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
      </div>
  
      <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
        <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="angry" size="48px"></ic-icon>
        </div> -->
  
        <h2 class="headline my-6">Melhores Índices de Voltar a Fazer Negócios</h2>
  
        <div *ngFor="let item of preencheTabela1">
          <table class="table">
            <tbody>
              <tr>
                <td>{{item.posicao}}. </td>
                <td class="nome">{{item.nome}}</td>
                <td>{{item.valor}}</td>
              </tr>
            </tbody>
          </table>
      </div>
        <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
    </div>
  
    <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
        <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="sad" size="48px"></ic-icon>
        </div> -->
  
        <h2 class="headline my-6">Melhores notas médias</h2>
        <div *ngFor="let item of preencheTabela2">
          <table class="table">
            <tbody>
              <tr>
                <td>{{item.posicao}}. </td>
                <td class="nome">{{item.nome}}</td>
                <td>{{item.valor}}</td>
              </tr>
            </tbody>
          </table>
      </div>
        <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
  
        <!-- <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">PURCHASE</button> -->
      </div>
  
    </div>
  <!-- Segunda Linha -->
    <div class="my-12 container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="start start"
        fxLayoutAlign.xs="start stretch"
        fxLayoutGap="24px">

        <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
      <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
        <ic-icon [icon]="happy" size="48px"></ic-icon>
      </div> -->

      <h2 class="headline my-6">Mais resolveram nos últimos 30 dias</h2>
      <div *ngFor="let item of preencheTabela3">
        <table class="table">
          <tbody>
            <tr>
              <td>{{item.posicao}}. </td>
              <td class="nome">{{item.nome}}</td>
              <td>{{item.valor}}</td>
            </tr>
          </tbody>
        </table>
    </div>
      <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
    </div>

    <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
      <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
        <ic-icon [icon]="angry" size="48px"></ic-icon>
      </div> -->

      <h2 class="headline my-6">Mais resolveram nos últimos 6 meses</h2>
      <div *ngFor="let item of preencheTabela4">
        <table class="table">
          <tbody>
            <tr>
              <td>{{item.posicao}}. </td>
              <td class="nome">{{item.nome}}</td>
              <td>{{item.valor}}</td>
            </tr>
          </tbody>
        </table>
    </div>
      <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
    </div>

    <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
      <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
        <ic-icon [icon]="sad" size="48px"></ic-icon>
      </div> -->

      <h2 class="headline my-6">Piores empresas nos últimos 30 dias</h2>
      <div *ngFor="let item of preencheTabela5">
        <table class="table">
          <tbody>
            <tr>
              <td>{{item.posicao}}. </td>
              <td class="nome">{{item.nome}}</td>
              <td>{{item.valor}}</td>
            </tr>
          </tbody>
        </table>
    </div>
      <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>

      <!-- <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">PURCHASE</button> -->
    </div>
    </div>

      <!-- Terceira Linha -->
      <div class="my-12 container"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="start start"
      fxLayoutAlign.xs="start stretch"
      fxLayoutGap="24px">

      <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
    <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="happy" size="48px"></ic-icon>
    </div> -->

    <h2 class="headline my-6">Mais reclamadas nos últimos 6 meses</h2>
    <div *ngFor="let item of preencheTabela6">
      <table class="table">
        <tbody>
          <tr>
            <td>{{item.posicao}}. </td>
            <td class="nome">{{item.nome}}</td>
            <td>{{item.valor}}</td>
          </tr>
        </tbody>
      </table>
  </div>
    <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
  </div>

  <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
    <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="angry" size="48px"></ic-icon>
    </div> -->

    <h2 class="headline my-6">Empresas recém-cadastradas com mais reclamações</h2>

    <div *ngFor="let item of preencheTabela7">
      <table class="table">
        <tbody>
          <tr>
            <td>{{item.posicao}}. </td>
            <td class="nome">{{item.nome}}</td>
            <td>{{item.valor}}</td>
          </tr>
        </tbody>
      </table>
  </div>
    <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
  </div>

  <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
    <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
      <ic-icon [icon]="sad" size="48px"></ic-icon>
    </div> -->

    <h2 class="headline my-6">Mais Reclamadas do dia</h2>
    <div *ngFor="let item of preencheTabela8">
      <table class="table">
        <tbody>
          <tr>
            <td>{{item.posicao}}. </td>
            <td class="nome">{{item.nome}}</td>
            <td>{{item.valor}}</td>
          </tr>
        </tbody>
      </table>
  </div>
    <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>

    <!-- <button class="rounded-full max-w-full w-200" color="primary" mat-raised-button type="button">PURCHASE</button> -->
  </div>
  </div>

    <!-- Quarta Linha -->
    <div class="my-12 container"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="start start"
        fxLayoutAlign.xs="start stretch"
        fxLayoutGap="24px">

        <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
      <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
        <ic-icon [icon]="happy" size="48px"></ic-icon>
      </div> -->

      <h2 class="headline my-6">Mais Reclamadas da semana</h2>
      <div *ngFor="let item of preencheTabela9">
        <table class="table">
          <tbody>
            <tr>
              <td>{{item.posicao}}. </td>
              <td class="nome">{{item.nome}}</td>
              <td>{{item.valor}}</td>
            </tr>
          </tbody>
        </table>
    </div>
      <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
    </div>

    <div @fadeInUp class="card p-6" fxFlex fxLayout="column">
      <!-- <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
        <ic-icon [icon]="angry" size="48px"></ic-icon>
      </div> -->

      <h2 class="headline my-6">Mais Reclamadas nos últimos 30 dias</h2>

      <div *ngFor="let item of preencheTabela10">
        <table class="table">
          <tbody>
            <tr>
              <td>{{item.posicao}}. </td>
              <td class="nome">{{item.nome}}</td>
              <td>{{item.valor}}</td>
            </tr>
          </tbody>
        </table>
    </div>
      <h3 class="display-2 font-bold my-6"><span class="text-secondary headline align-top"></span></h3>
    </div>
    </div>

  </div>
    
  </div>
  