
<div class="text-center py-0 header" @stagger>
    <div [ngStyle]="{'background-image': 'url(' + url + ')'}" class="bg-card py-32 px-gutter fundo">
      <h1 class="epanenem" @fadeInUp style="color: cornsilk;" class="display-2 mt-0 mb-4 text-center">{{nomeCategoria}}</h1>
    </div>
  
    <div class="my-12 container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="start start"
         fxLayoutAlign.xs="start stretch"
         fxLayoutGap="24px">
  
      <div @fadeInUp class="card p-6" fxFlex fxLayout="column" fxLayoutAlign="start center">
        <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="happy" size="48px"></ic-icon>
        </div>
  
        <h2 class="headline my-6">As melhores</h2>
  
        <div *ngFor="let item of preencheRanking1">
          <table class="table">
            <tbody>
              <tr>
                <td>{{item.posicao}}. </td>
                <td class="nome">{{item.nome}}</td>
              </tr>
            </tbody>
          </table>
      </div>
  
      </div>
  
      <div @fadeInUp class="card p-6" fxFlex fxLayout="column" fxLayoutAlign="start center">
        <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="angry" size="48px"></ic-icon>
        </div>
  
        <h2 class="headline my-6">As priores</h2>
  
        <div *ngFor="let item of preencheRanking2">
          <table class="table">
            <tbody>
              <tr>
                <td>{{item.posicao}}. </td>
                <td class="nome">{{item.nome}}</td>
              </tr>
            </tbody>
          </table>
      </div>
  
        </div>
  
      <div @fadeInUp class="card p-6" fxFlex fxLayout="column" fxLayoutAlign="start center">
        <div class="inline-block p-6 rounded-full text-primary mx-auto flex items-center justify-center bg-primary-light">
          <ic-icon [icon]="sad" size="48px"></ic-icon>
        </div>
  
        <h2 class="headline my-6">As mais reclamadas</h2>
  
        <div *ngFor="let item of preencheRanking3">
          <table class="table">
            <tbody>
              <tr>
                <td>{{item.posicao}}. </td>
                <td class="nome">{{item.nome}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  