<div style="padding-top: 1%;padding-bottom: 1%;" class="w-full h-full bg-pattern" fxLayout="column" fxLayoutAlign="center center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <cdk-virtual-scroll-viewport [itemSize]="18 * 7" class="example-viewport">
      <div #originRef
        [routerLink]="['/home/init']"
        class="flex items-center rounded cursor-pointer relative trans-ease-out select-none py-1 pr-1 pl-3 hover:bg-hover"
        matRipple>
      <div class="rounded-full h-9 w-9 flex items-center justify-center text-primary bg-primary-light">
        <mat-icon [icIcon]="arrowBack"></mat-icon>
      </div>
    </div>
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-16" src="assets/img/demo/logo.svg">
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Cadastro de Consumidor</h2>
      <h4 class="body-2 text-secondary m-0">Preencha o formulário abaixo</h4>
      <!-- <p class="text-secondary text-center">Ou <a style="color: red;" [routerLink]="['/cad-empresa']" routerLinkActive="router-link-active">Cadastre</a> sua empresa</p> -->
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Nome</mat-label>
          <input formControlName="name" [(ngModel)]="cliente.nome" matInput required>
        </mat-form-field>

        <mat-form-field class="grow">
          <mat-label>Data de nascimento</mat-label>
          <input formControlName="dataNascimento" [(ngModel)]="cliente.dataNascimento" [mask]="mascaraData()" matInput required>
      </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>CPF</mat-label>
          <input [(ngModel)]="cliente.cpf" [mask]="mascaraCpf()" formControlName="cpf" matInput required>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Celular</mat-label>
          <input [(ngModel)]="cliente.celular" [mask]="mascaraCelular()" formControlName="celular" matInput required>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Email</mat-label>
          <input [(ngModel)]="cliente.email" formControlName="email" matInput required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Gênero</mat-label>
          <mat-select [(ngModel)]="cliente.genero" formControlName="genero" >
            <mat-option value="1">Masculino</mat-option>
            <mat-option value="2">Feminino</mat-option>
            <mat-option value="3">Outros</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Senha</mat-label>
          <input [(ngModel)]="cliente.senha" [type]="inputType" formControlName="password" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Clique no olho para alternar a visibilidade</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Confirmar Senha</mat-label>
          <mat-error *ngIf="senhaDiferente">As senhas devem ser iguais!</mat-error>
          <input [(ngModel)]="cliente.confirmarSenha" [type]="inputType" formControlName="passwordConfirm" matInput required>
          <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Toggle Visibility" type="button">
            <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
            <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
          </button>
          <mat-hint>Repita sua senha acima</mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox class="caption">Aceito os <a><u>termos e condições.</u></a></mat-checkbox>
      </div>
      <button [disabled]="form.invalid" (click)="registrar(cliente.nome, 
                          cliente.cpf,
                          cliente.celular,
                          cliente.email,
                          cliente.senha,
                          cliente.confirmarSenha,
                          cliente.dataNascimento,
                          cliente.genero)" color="primary" mat-raised-button type="button">
        CRIAR CONTA
      </button>
      <p class="text-secondary text-center">
        Já possui uma conta?<br/>
        <a href="/login">Entre aqui</a>
      </p>
    </div>
  </cdk-virtual-scroll-viewport>
  </div>
</div>